




<div class="center jumbotron">
  <h1>Welcome to AVH 1</h1>

  <h2>
    This is the home page for 
    AVH1 - new combined avh3 + avh5 + whatever else.<br/>
    
    <%= link_to "AVH Rules", "http://www.avirtualhorse.com/rules.html", :target => "_blank" %>
    
  
  </h2>
  
  <p> Signup will never be required for calculators<br/>
      <a href="http://avh3.herokuapp.com">Calculators also known as avh3</a><br/>
      <small> At sometime in the future the old avh3 will be rewritten and place here</small>
</p>
  
  <br/>
  <p>Signup required for the following:</p>
  <p> <%= link_to "Showblogs", showblogs_path %></p>
  
  
  <p> <%= link_to "Competitions", comps_path %></p>
  <br/><br/><br/>
   
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("logo2.png", alt: "AVH logo") %>