<%= form_for(@comp) do |f| %>
  <% if comp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comp.errors.count, "error") %> prohibited this comp from being saved:</h2>

      <ul>
      <% comp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>    
<div>   <%= f.label :name %>
<%= f.text_field :name, class: 'form-control' %></div>
<div class="story"> Story:<%= f.radio_button :foo, 'story', class: 'form-control' %></div><br/>
<div class="job">Job:  <%= f.radio_button :foo, 'job', class: 'form-control'  %></div><br/>
    

    Explain what the competition is all about.
    <%= f.text_area :text, class: 'form-control'%>
  
   
    Link to the blog on AVH.
    <%= f.text_field :ref_player, class: 'form-control'%>
  
   
    
    
    
  
    <%= f.label :startdate %>
    <%= f.date_select :startdate, class: 'form-control' %>
  

  
    <%= f.label :enddate %>
    <%= f.date_select :enddate, class: 'form-control' %>
  

   <%= f.submit yield(:button_text), class: "btn btn-primary" %>
</div>
   <% end %>
    