<h1>Editing Comp</h1>

<h1>Mod approve:<%= @comp.user.try(:player) %><br/>
    
    Name: <%= @comp.name %>
</h1>


<p><%= render 'rules/form' %></p>

<p><%= render 'prizes/form' %></p>







<%= link_to 'Back', comps_path %>
