<p id="notice"><%= notice %></p>

<h1>Competitions</h1>
<h5> Ultimately only mods will be able to create competitions and update the rules.
    Right now, it is open to any.  Players will be able to add prizes.  I do intend
    to get the links back to AVH display a little better.  Please try create job or story 
    competitions and tell me what fields are required.  This is just practice where input is 
    appreciated. Use game mail to click here >>>>>
        <a href="http://www.avirtualhorse.com/player-details/99509">Pirate Princess</a> <<<<<
    please put in the subject line AVH1 and give me your thoughts. </h5>

<table class="horizontal_table" style="width: 100%; height: 10px;" border="1"> 
  <tbody>
  
      <tr>
        <th width="15%">Player avh1</th>
        <th width="20%">Referring player</th>
        <th width="10%">Name</th>
        <th width="10%">Type </th>
        <th width="15%">Start</th>
        <th width="15%">Ends</th>
        <th width="5%">Add prize</th>
        <th width="5%">Edit</th>
        <th width="5%">Delete</th>
        
        
        
      </tr>
 
  </tbody>
</table>
<table class="horizontal_table" style="width: 100%; height: 10px;" border="1" cellspacing="0"> 
  <tbody>
      <% @comps.each do |comp| %>
  
      <tr>
        <td width="15%"><%= comp.user.try(:player) %></td>
        <td width="20%"><%= link_to comp["ref_player"], comp["ref_player"] %></td>
        <td width="10%"><%= link_to (comp.name), comp_path(comp) %></td>
        <td width="10%"><%= comp.foo %></td>
        <td width="15%"><%= comp.startdate.strftime("%Y-%b-%d") %></td>
        <td width="15%"><%= comp.enddate.strftime("%Y-%b-%d") %></td>
        <td width="5%"><%= link_to image_tag("xp24.png"), pz_comp_path(comp) %></td>
        <td width="5%"><%= link_to image_tag("ic_settings_black_24dp.png"), edit_comp_path(comp) %></td>
        <td width="5%"><%= link_to image_tag("ic_delete_forever.png"), comp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comp', new_comp_path %>
