
<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: @user %>

  <%= f.label :player %>
  <%= f.text_field :player, class: 'form-control' %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>
<h5> Use the search function in the game to find yourself, copy the link
    http://www.avirtualhorse.com/player-details/your player number/player name paste into the box.</h5>


      
  <%= f.label :avh %>
  <%= f.text_field :avh, class: 'form-control' %>
  
      <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>